@model IEnumerable<bs609016_MIS4200_Fixed.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.professor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.professor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseId })
        </td>
    </tr>
}

</table>
