@model IEnumerable<bs609016_MIS4200_Fixed.Models.CourseDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seatsAvalible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seatsAvalible)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseDetailId })
        </td>
    </tr>
}

</table>
